name: Publish Package to npmjs
on:
  push:
    tags:
      - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm test --if-present
      - name: Verify that tag matches package.json version
        run: |
          TAG="${GITHUB_REF##*/}"
          PKG_VER=$(node -p "require('./package.json').version")
          if [ "v$PKG_VER" != "$TAG" ]; then
            echo "Tag ($TAG) no coincide con package.json ($PKG_VER)"; exit 1
          fi
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
